.app-container {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

h2 {
  color: #4CAF50;
  margin-top: 20px;
}
